@model IEnumerable<FinalProject.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<a class="btn btn-success" href="/Deposit/Create">
    Home
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-usd"></span>
        </div>
    </div>
</a>

<a class="btn btn-danger" href="/Withdraw/Create">
    Account Home
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th-usd"></span>
        </div>
    </div>
</a>

<a class="btn btn-primary" href="/Transfer/Create">
    Account Manager
    <div class="input-group">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-sort"></span>
        </div>
    </div>
</a>
<h2>My Bank Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToHtmlString(),"Summary","Transactions")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BankAccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BankAccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BankAccountID })
        </td>
    </tr>
}

</table>
