@model FinalProject.Models.Deposit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Deposit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Transaction Type: Deposit
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.DepositID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepositID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
